{% extends "base.html" %}
{% block content %}

<h2>Search results for "{{ query }}"</h2>

{% if parent_path is not none %}
<div class="back-button">
    <a href="{{ url_for('browse', subpath=parent_path) }}">⬅ Back</a>
</div>
{% endif %}


{% if results %}
<ul class="entries">
    {% for r in results %}
    <li class="{{ r.type }}">
        {% if r.type == 'dir' %}
            <a href="{{ url_for('browse', subpath=r.path) }}/"></a>
        {% else %}
            <a href="{{ url_for('download', subpath=r.path) }}"></a>
        {% endif %}
        <span class="entry-label">{{ r.name }}</span>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No results found.</p>
{% endif %}

{% endblock %}
